.file-details-section{
    display: flex;
    flex-direction: column;
}
.primary-element-name{
    display: inline-block;
    height: 50px;
    margin-top: 20px;
}
.secondary-element-name{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 13px;
    border-bottom: 1px solid #eee;
}
.component-display{
    position: relative;
    .component-result-container{
        margin-bottom: 20px;
    }

    .component-location{
        font-weight: normal;
    }

    .component-name, .component-location{
        display: block;
        margin-bottom: 0;
        margin-left:10px;
    }
    .component-location, 
    .component-usage-label{
        margin-left:10px;
    }
    
    .component-name{
        font-weight: 500;
    }
    .component-location,
    .component-usage-label{
        font-size: 12px;
        margin-left:30px;
    }
    .component-usage-label{
        font-weight: 500;
        display: block;
        border-bottom: 1px solid #eee;
        margin-top: 20px;
        width: 50%;
    }
}
